body {
  margin: 200px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.camera {
  position: relative;
}

.picture {
  position: absolute; 
  z-index: -1; 
  top: 50%; 
  left: 50%; 
  transform: translateY(-45%); 
}